/*Fonts*/
@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(../fonts/IBMPlexSans-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(../fonts/IBMPlexSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(../fonts/IBMPlexSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(../fonts/IBMPlexSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(../fonts/IBMPlexSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
/*Fonts end*/

/*Global properties*/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "IBM-Plex-Sans", sans-serif;
}
.container {
  padding: 0 7.625rem;
  margin: 0 auto;
  max-width: 70.25rem;
  box-sizing: border-box;
}

.section_comment {
  font-family: "IBM-Plex-Sans";
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.875rem;
  font-style: normal;
}

.section_heading {
  color: #a3cc40;
  margin-top: 9.0625rem;
  font-family: "IBM-Plex-Sans";
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.875rem;
  width: 24.625rem;
  height: 3.875rem;
}

/*Global ends*/

/*Header*/
.header {
  background-image: url(../Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.75rem;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  top: 32.7rem;
  right: 0;
  border-bottom: 9.0625rem solid #fff;
  border-left: 100vw solid transparent;
}

.innopolis_logo {
  margin: 3rem 1.3rem 0 0;
}

.nav_contact {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 0.75rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.nav_contact li {
  margin-right: 2rem;
}

.link {
  color: white;
  text-decoration: none;
}

.call {
  color: #333;
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.4375rem;
}

.blok__call {
  background: #fff;
  padding: 0.1rem 0.5rem 0.15rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.0625rem solid #ededed;
  margin-right: 2.8rem;
  text-decoration: none;
}

.blok__call svg {
  fill: #333;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
}

.link:hover {
  color: rgb(21, 255, 0);
  text-decoration: underline;
  transition: 1s;
}

.img:hover {
  color: rgb(21, 255, 0);
  text-decoration: underline;
  transition: 1s;
}
.hover .navigation {
  margin: 2.6875rem 0 0 0;
}

.navigation {
  margin-top: 2.625rem;
}

.nav_section {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

.nav_section li {
  margin-right: 4.625rem;
}

.button_ {
  border-radius: 0.375rem;
  width: 8.125rem;
  height: 1.3125rem;
  text-align: center;
}

.lang_select {
  margin-left: 3rem;
  background-color: transparent;
  color: white;
  border: none;
}

.lang_select option {
  color: #333333;
}

.h1 {
  color: white;
  font-size: 4.25rem;
  font-weight: 100;
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  text-align: center;
  margin-top: 8.125rem;
  margin-right: -0.125rem;
}

.h2 {
  text-align: center;
  font-size: 2.5625rem;
  font-style: normal;
  color: white;
  font-family: "IBM-Plex-Sans";
  font-weight: 400;
  margin-top: 1.125rem;
  margin-right: -0.0625rem;
}
.innopolis_info {
  width: 26.625rem;
  height: 13.8125rem;
  background: rgb(255, 255, 255);
  box-shadow: rgb(163 204 64 / 18%) 0px 1.6875rem 2.4375rem;
  border-radius: 0.625rem;
  text-align: center;
  position: relative;
  left: 30.375rem;
  bottom: 13rem;
}

.innopolis_info h1 {
  font-family: "IBM-Plex-Sans";
  font-weight: 600;
  font-size: 2.0625rem;
  line-height: 4.6875rem;
}

.innopolis_info p {
  margin: 1.4375rem 1.4375rem -0.8125rem 3.0625rem;
  text-align: left;
}

/* why us */

.s_heading {
  display: flex;
  margin: 5.25rem 0 0 0;
}

.why_us_cards {
  width: 15.3125rem;
  margin-right: 3.4375rem;
  text-align: center;
}
.why_us {
  margin-top: -16.25rem;
  padding-left: 8.75rem;
}

.why_us h2 {
  margin-bottom: 0.9375rem;
}

.why_us_cards h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img:hover {
  transform: scale(1.07);
}

/*why us ends */

/*Choose the film (table)*/
.choose_film {
  padding: 0 0 0 7.5rem;
}

/*Table*/
.table {
  border-collapse: separate; /*collaps was removed because of it border-radius didn't work*/
  border-spacing: 0;
  padding-top: 2.8125rem;
  margin-top: 2.25rem;
  margin-left: 1.0625rem;
}

.table_head {
  background: #a3cc40;
  color: #ffff;
  text-align: left;
  height: 2.8125rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

th a {
  text-decoration: none;
  color: #ffffff;
}

th svg {
  vertical-align: middle;
}

#t_body {
  color: #ffff;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

/*Styles for border-radius*/
th.check {
  border-radius: 0.625rem 0 0 0;
}

th.cell_genre {
  border-radius: 0 0.625rem 0 0;
}

tbody tr:last-child td.cell_genre {
  border-radius: 0 0 0.625rem 0;
}

tbody tr:last-child td.check {
  border-radius: 0 0 0 0.625rem;
}

.check {
  width: 4.8125rem;
}

.cell_session {
  width: 14.625rem;
}

.cell_film_name {
  width: 15rem;
}

.cell_genre {
  width: 17.9375rem;
}

.check svg {
  padding-left: 1.5rem;
}

.first_row {
  background-color: #373737;
  height: 2.8125rem;
}

.second_row {
  background-color: #4c4d4f;
  height: 2.8125rem;
}

/*Choose film ends*/

/*Present for everyone */
.section_text {
  text-align: center;
  margin-top: 1.875rem;
  margin-left: 0.25rem;
}

.present {
  background: url(../Images/images.jpg) no-repeat center/cover;
  width: 100%;
  height: 48.6875rem;
}

.present::before {
  content: "";
  position: absolute;
  top: 137.7rem;
  right: 0;
  border-top: 9.0625rem solid #fff;
  border-right: 100vw solid transparent;
}

.present::after {
  content: "";
  position: absolute;
  top: 177.3rem;
  right: 0;
  border-bottom: 9.0625rem solid #fff;
  border-left: 100vw solid transparent;
}

.present_p {
  color: #fff;
  text-align: right;
  margin-bottom: 1.875rem;
  margin-left: auto;
  max-width: 34.25rem;
  padding: 0 0.4375rem 0 0;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.875rem;
}

.present_img {
  position: absolute;
  border-radius: 100%;
}

.present_text {
  text-align: right;
}

.present_text h2 {
  margin: 3rem 0 0 0;
}
.present__button {
  display: block;
  background-color: #a3cc40;
  font-size: 0.75rem;
  color: white;
  border: none;
  text-align: center;
  border-radius: 0.375rem;
  margin-top: 2.0625rem;
  margin-left: auto;
  padding: 0.5rem 2.8125rem;
  border: 0.0625rem solid rgba(163, 204, 64, 0);
  transition: 0.3s;
  box-shadow: 0 0.125rem 0.5625rem rgb(144 210 61 / 0%);
}

.present__button:hover {
  color: yellowgreen;
  background: #fff;
  border: 0.0625rem solid rgba(163, 204, 64, 0.62);
  transition: 0.3s;
  box-shadow: 0 0.125rem 0.5625rem rgba(144, 210, 61, 0.3);
}

.present_h2 {
  font-family: "IBM-Plex-Sans" !important;
  margin-bottom: 3.4375rem;
  padding: 10.9375rem 0.4375rem 0rem 28rem;
  color: white;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.875rem;
}

/*Present ends*/

/* Фильмы */
.film__img .film__p {
  transition: 0.3s;
  left: 0;
}

.cinema__heading {
  color: #a3cc40;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2.25rem;
}

.section__commit {
  font-size: 0.6875rem;
  margin-bottom: 4.25rem;
  margin-top: 1.625rem;
}

.section__text {
  font-size: 0.6875rem;
  line-height: 0.875rem;
}

.film__img {
  width: 17.6875rem;
  position: relative;
  overflow: hidden;
  display: block;
}

.film__img::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(22, 22, 22, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s;
}

.film__img:hover::after {
  background: transparent;
  transition: 0.3s;
}

.film__img:hover .film__p {
  bottom: 0;
  color: white;
}

.film__img img {
  display: flex;
  width: 100%;
  height: 17.6875rem;
}

.film__p {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(144, 210, 61, 0.4);
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 1;
  padding: 1.0625rem 1.375rem;
}

.film__cards {
  display: flex;
}

.cinema__title {
  margin-bottom: 1.25rem;
  color: white;
  font-weight: 600;
  font-size: 1.8125rem;
  line-height: 2.375rem;
}

.cinema__text {
  color: white;
  font-size: 0.6875rem;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.875rem;
}

/* Фильмы end */
/* Товары */
.goods {
  /* padding: 2.5rem; */
  margin: 2.375rem auto 0;
  float: none;
}

.goods__text {
  margin: 2.375rem auto 2.375rem;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

.card__box {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  position: relative;
  float: left;
  width: 14.375rem;
  overflow: hidden;
  border-radius: 0.625rem;
}

.card__img {
  display: block;
}

.card__hover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
}

.card__hover-bacground {
  background: rgba(163, 204, 64, 0.8);
  position: absolute;
  bottom: -5.625rem;
  top: 0;
  left: 0;
  right: 0;
  animation-name: circle;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 200ms;
}

.card__hover-text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
  padding: 4.375rem 1.375rem 0;
  position: relative;
  margin: auto;
  flex: 1 0 auto;
}

@keyframes circle {
  0% {
    transform: skew(0, -20deg);
  }
  50% {
    transform: skew(0, 0);
  }
  100% {
    transform: skew(0, 20deg);
  }
}
.card:hover .card__hover-bacground {
  animation-play-state: paused;
}

.strong {
  color: #a3cc40;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
}

.text__p {
  font-weight: 500;
  font-size: 0.69rem;
  line-height: 14px;
  color: #333333;
}

/* Товары  end*/

.background_img {
  background: url(../Images/group.jpg) no-repeat center/cover;
  width: 100%;
  height: 49.5rem;
}
.background_img::before {
  content: "";
  position: absolute;
  top: 284.2rem;
  right: 0;
  border-top: 9.0625rem solid rgb(255, 255, 255);
  border-right: 100vw solid transparent;
}

.background_img::after {
  content: "";
  position: absolute;
  top: 324.8rem;
  right: 0;
  border-bottom: 9.0625rem solid rgb(255, 255, 255);
  border-left: 100vw solid transparent;
}

.section_heading_otziv {
  color: #a3cc40;
  padding: 7.1875rem 0 8.625rem 4.25rem;
  margin-left: 4.375rem;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.875rem;
}

.otziv_p {
  font-size: 0.6875rem;
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  color: white;
  margin-left: 8.75rem;
  margin-top: -7.0625rem;
  margin-bottom: 4.375rem;
}

.owl-carousel .owl-item img {
  display: flex;
  width: 76%;
}
.boxx__1 {
  border-radius: 0.5625rem;
  margin: 1.5rem -4rem 0 9.0625rem;
  width: 14rem;
}

.box_center {
  margin-top: 0.25rem;
}
.h3_text {
  font-size: 0.9375rem;
  font-family: "IBM-Plex-Sans-Semi";
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875rem;
}

/* Обратная связь */

.form__section {
  display: flex;
  padding: 5.1875rem;
}

.img_back {
  background: url(../Images/otdix.png) no-repeat center/cover;
  width: 47.75rem;
  height: 32.9375rem;
  border-radius: 1.25rem 0 0 1.25rem;
}

.tx-form {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 2rem;
  margin: 2.0625rem 5.75rem 0 0;
}

form {
  font-size: 1.5625rem;
  color: #a3cc40;
  text-align: center;
  width: 21.875rem;
  box-shadow: 0.5rem 0.5625rem 2.4375rem rgba(185, 185, 185, 0.37);
}
.party_form {
  margin-left: -21.5625rem;
}

.option_form {
  width: 21.5rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  border: none;
  color: #a1a1a1;
  background: #dedede;
  border-radius: 0.3125rem;
  outline: none;
  margin-left: -4.625rem;
  transition: 0.5s;
  font-size: 0.9375rem;
  font-weight: 400;
}

.option_form:hover {
  border: 0.3125rem solid #aaf34d85;
  background: #fff;
  transition: 0.5s;
}

#chek__box {
  margin-left: -8.5rem;
  margin-top: 1rem;
  color: #a3cc40;
}

.comment {
  resize: none;
  font-family: "IBM-Plex-Sans-Regular";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.full_name {
  width: 20.625rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  border: none;
  color: #a1a1a1;
  background: #dedede;
  border-radius: 0.3125rem;
  outline: none;
  margin: 1.375rem 0 1.5rem -4.625rem;
  transition: 0.5s;
  font-size: 0.9375rem;
  font-weight: 400;
}

.full_name:hover {
  border: 0.3125rem solid #aaf34d85;
  background: #fff;
  transition: 0.5s;
}

.email {
  width: 20.625rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  border: none;
  color: #a1a1a1;
  background: #dedede;
  border-radius: 0.3125rem;
  outline: none;
  margin-left: -4.6875rem;
}

.full_name2 {
  color: #a1a1a1;
  width: 19.625rem;
  height: 2.5rem;
  outline: none;
  background: #dedede;
  border: none;
  border-radius: 0.3125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-bottom: 5.4375rem;
  margin-top: 1.875rem;
  display: flex;
  align-items: flex-start;
  margin-left: -2.125rem;
  transition: 0.5s;
  font-size: 0.9375rem;
  font-weight: 400;
}

.full_name2:hover {
  border: 0.3125rem solid #aaf34d85;
  background: #fff;
  transition: 0.5s;
}

.chek__box {
  font-size: 0.6875rem;
  color: #333333;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
}

#chek__box:hover {
  border: 0.125rem solid lime;
}

.bt1 {
  border: none;
  padding: 1.0625rem 8.6875rem 0.8125rem 8.125rem;
  background: #a3cc40;
  border-radius: 0.375rem;
  color: white;
  font-size: 1.75rem;
  margin-top: 2.75rem;
  margin-left: -4.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

/* Обратная связь  end*/
.footer {
  background-color: #a3cc40;
  padding: 5.25rem 1rem 2.75rem 14rem;
}

.footer__text {
  color: #ffffff;
  width: 16.8125rem;
  padding: 0.75rem 0 0 0;
  font-family: "IBM-Plex-Sans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.footer__aboutus {
  display: flex;
  margin: 0.25rem 1.9375rem 2.6875rem -0.3125rem;
}

.footer__aboutus__button {
  border-radius: 100%;
  padding: 0.3125rem 0.5rem 0.25rem 0.5625rem;
  margin: 1.5625rem 1.9375rem 0 0;
  background: #bee956;
}

.footer__copyright {
  font-family: "IBM-Plex-Sans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: #ffffff;
}

.site {
  display: flex;
}

.site__footer {
  list-style: none;
  color: #ffffff;
  margin: -3rem 0.3125rem 0 5.1875rem;
}

.site__footer a {
  text-decoration: none;
  color: #ffffff;
}
